/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


body {
    line-height: 1;
    font-family: sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Header */

header {
    padding: 20px 0;
    margin: 0 0 40px 0;
    background: #5778C4;
    color: #fff;
}
    header h1 {
        width: 800px;
        margin: 0 auto;
        font-size: 40px;
    }
    header a {
        position: absolute;
        top: 10px;
        right: 20px;
        color: #fff;
    }

/* Body */
section {
    width: 800px;
    margin: 0 auto;
    display:block;
}

p {
    margin: 1em 0 2em 0;
}

.empty {
    color: #666;
    font-style: italic;
}

.rooms li {
    padding: 5px 7px;
    background: #def;
    display: inline;
    margin: 5px 2px;
    border: 1px solid #bcd;
    border-radius: 2px;
    cursor: pointer;
}
    .rooms li.joined {
        background: #5898D9;
        border: 1px solid #35485C;
    }

#chats {
}

    #chats h2 {
        color: #333;
        margin: 2px 0 5px 0;
        font-weight: bold;
    }


    #chats .messages {
        height: 400px;
        overflow: auto;
        background: #eee;
        margin: 2px 0 15px 0;
    }
    #chats .username {
        display: inline-block;
        color: #C07A36;
        width: 100px;
        font-weight: bold;
    }
    #chats .contextual-message{
        text-align: center;
        margin: 5px 5px 5px 5px;
    }
    #chats .text-muted {
        opacity: .6;
        font-style: italic;
    }
    #chats .text-danger {
        color: #a94442;
        font-weight: bold;
    }
    #chats .text-warning {
        color: #DCAD5C;
        font-weight: bold;
        font-style: italic;
    }

.container{
  background-color:#E6E6E6 ;
  display: inline-block;
  max-width: 80%;
  margin-top: 3px;
  border-radius: 25px;
}

.container .username{
  text-shadow: 1px 1px yellow;
  margin-left: 2%;
  margin-right: 2%;
}
.container .body{
  margin-left:3%;
  text-align: left;

}

form button{
  margin-left:2%;
  width:20%;
  align:right;

}
