{% load staticfiles %}
<!DOCTYPE html>

<html>
  <head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}" type ="text/css">
    <meta name='viewport' content="width=device-width,initial-scale=1.0 ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    {% block head %}
    <title></title>
    {% endblock %}
  </head>

  <body style="background-image:url('{% static 'images/13390.jpg' %}');background-size:cover; background-repeat:no-repeat;">
    <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="navbar-header">
      <a class="navbar-brand" href="/">Kickstart</a>
    </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        {% if user.is_authenticated %}
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" href="/accounts/">Home <span class="fa fa-home"></span></a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
            <li><a class="nav-link" href='/accounts/profile'>Profile <span class="fa fa-user"></span></a></li>

              <li><a class="nav-link" href='/accounts/logout'>Logout <span class="fa fa-sign-out-alt"></span></a></li>
            </ul>
            {% else %}
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" href="/accounts/index">Home <span class="fa fa-home"></span></a></li>
            </ul>
                        <ul class="navbar-nav ml-auto">
                <li><a class="nav-link" href='/accounts/login'>Login <span class="fa fa-sign-in-alt"></span></a></li>
              <li><a class="nav-link" href="/accounts/inter_reg">Register <span class="fa fa-user-plus"></span></a></li>
            </ul>
            {% endif %}
        </div>

      </nav>

      {% block body %}
      This is base for you
      {% endblock %}
  </body>

</html>
