

{% extends "homepage.html" %}
{% block content1 %}
{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
              <div class="card">
                <div class="card-body">
                <h3 class="mt-2">Add Todo</h3>
                <hr class="mt-0 mb-4">

                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br>
                    <button type="submit" class="btn btn-success">add todo</button>
                </form>
              </div>
            </div>
        </div>



    </div>
  </div>


{% endblock %}
