{% extends 'base.html' %} 

{% block head %}

<title>Kick Start</title>

{% endblock %} 

{% block body %}

<div class="parallax">
    <br><br><br><br>
    <img src="../../static/accounts/images/regst.png" style="width:30%;float:right; ">
</div></br></br></br>
<div class="row">
    <span class="space"></span>
    <div class="card column">
        <img src="../../static/accounts/images/2.gif" style="width:100%">
        <div class="container">
            <h4>Chatting</h4>
            <p>Chat with your group mates.</p>
        </div>
    </div>
    <span class="space"></span>
    <div class="card column">
        <img src="../../static/accounts/images/2.jpg" style="width:100%;">
        <div class="container">
            <h4>Group Discussion</h4>
            <p>Discuss with your group mates.</p>
        </div>
    </div>
    <span class="space"></span>
    <div class="card column">
        <img src="../../static/accounts/images/dash3.gif" style="width:100%">
        <div class="container">
            <h4>Dashboard</h4>
            <p>You can see your dashboard.</p>
        </div>
    </div>
</div>

<div style="background-color:  #f0f0f5; height:585px;">
    <br><br><br><br><br><br><br><br><br>
    <h2 class="h1_1">Contact Us</h2>
    <div class="contact_us">Our Address:</div>
    <div class="a1">
        <img src="../../static/accounts/images/loca.png" style="height:25px;weight:35px;"> IIIT Chittoor, Sri City,
        <br>5655 Central Express way,
        <br>Sri City, Satyavedu Mandal,
        <br>Chittoor District, Andhra Pradesh - 517541.
    </div>
    <br>

    <div class="contact_us">Mail us at:</div>
    <div class="a1">
        <img src="../../static/accounts/images/34.png" style="height:25px;weight:35px;">
        <big>sanjay.k17@iiits.in</big>
    </div>
</div>
<div>
    <h6 class="footer">....</h6>
</div>


{% endblock %}