{% extends 'base.html' %}

{% block head %}
    <title>LOGOUT PAGE</title>
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="card" style="width: 70%;margin-left:15%;">

        <div class="card-body">
            <div class="text-center">
                <div class="display-4">Successfully logged out.</div>
                <br><br>
                <a href='/accounts/login'>
                    <button type="button" class="btn btn-primary">Click here to log in</button>
                </a>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}
